* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

.ingredients {
    font-style: italic;
}

.steps {
    font-weight: lighter;
}
ul {
    background-color: blanchedalmond;
}

li {margin: 10px;}